@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Raleway&display=swap');

*{
  margin:0
}

.app{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  background-color: #eaeaea;
  font-family: 'Montserrat';
}

.darkMode{
  /* background-color: rgb(32, 31, 31); */
  /* background-color: #373a40; */
  background-color: #252a34;
}

.darkHeader{
  /* color: #19d3da; */
  color: #08d9d6;
  font-size: 3rem;
  font-weight: bold;
}



.app__left{
  flex:0.8;
}
.app__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.lightHeader{
  color: #ff2e63;
  /* color: blueviolet; */
  font-size: 3rem;
  font-weight: 600;

}

.app_right{
  display: flex;
  flex-direction: column;
}

.app__right .MuiCardContent-root{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.app__stats{
  display: flex;
  justify-content: space-between;

}

.app__graph{
  margin-top:20px;
  margin-bottom:20px;
}
.app__graphTitle{
  flex-grow:1;
}

.favicon{
  font-size: 35px; 
  display: flex;
  justify-content: center;
  
}


a{
   color: inherit; 
   padding:10px ;
  }



.footer{
  display: flex;
  justify-content: center;
  padding: 10px;
  font-family:'Raleway';
  font-weight: normal;
}

.footerDark{
  background-color: #08d9d6 ;
  color: black;
}

.footerLight{
  background-color:#ff2e63 ;
  color: white;
}

@media (max-width:990px){
  .app{
    flex-direction: column;
  }
}